<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Total Asset by Brands</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <apx-chart [series]="brandChart.series" [plotOptions]="brandChart.plotOptions"
            [dataLabels]="brandChart.dataLabels" [chart]="brandChart.chart"
            [legend]="brandChart.legend" [colors]="brandChart.colors"
            [tooltip]="brandChart.tooltip" [labels]="brandChart.labels"
            [stroke]="brandChart.stroke">
        </apx-chart>
        <h4 style="float: right; margin-top: 10px;">Total: 13 </h4>
    </mat-card-content>
</mat-card>
