<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div style="margin: 15px;">
            <span class="f-s-20 f-w-700">
                Search CVE's
            </span>
            <span class="search">
                Dashboard
            </span>
            <span class="-copy">
                /
            </span>
            <span class="search">
                Search
            </span>
            <span class="-copy">
                /
            </span>
            <span class="mx-2 f-s-13">
                CVE - ID View
            </span>

        </div>
        <div class="text-center pt-4">
            <h5>View CVE Details</h5>
            <hr>
        </div>
        <mat-card class="cardWithShadow">
            <mat-card-content class="p-24">
                <div style="float: right;">
                    <button mat-raised-button color="warn">Back</button>
                </div>

                <div>
                    <h5>Vulnerability Details: <span class="text-primary" style="font-style: italic;" >CVE-2024-45710</span></h5>
                    <h6 class="mt-3">Published: <span class="f-s-13" style="font-weight: lighter;">2024-10-16T08:15:06.387</span></h6>
                    <h6 class="mt-3">Updated: <span class="f-s-13" style="font-weight: lighter;">2024-10-17T20:18:04.277</span></h6>
                    <h6 class="mt-3">Source: <span class="f-s-13" style="font-weight: lighter;">psirtsolarwinds.com</span></h6>
                    <h6 class="mt-3">Description: <span class="f-s-13" style="font-weight: lighter;">SolarWinds Platform is susceptible to an Uncontrolled Search Path Element Local Privilege Escalation vulnerability. This requires a low privilege account and local access to the affected node machine.</span></h6>

                </div>
                <h4 class="mt-5">CVSS scores for <span>CVE-2024-45710</span></h4>
                <div class="row mt-4">
                    <div class="col-4">
                        <h6>Base Score:
                            <span style="background-color: #e92040;color: white;padding: 10px;border-radius: 8px; margin-left: 10px;">
                              7.8
                            </span>
                        </h6>
                    </div>
                    <div class="col-4">
                        <h6>Exploitability Score:
                            <span style="background-color: #2773ae;color: white;padding: 10px;border-radius: 8px; margin-left: 10px;">
                              1.8
                            </span>
                        </h6>
                    </div>
                    <div class="col-4">
                        <h6>Impact Score:
                            <span style="background-color: #378562;color: white;padding: 10px;border-radius: 8px; margin-left: 10px;">
                              5.9
                            </span>
                        </h6>
                    </div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <h6>Base Severity: N/A
                        </h6>
                    </div>
                    <div class="col-4">
                        <h6>Source: nvdnist.gov
                        </h6>
                    </div>
                </div>
                
                <div class="mt-3">
                    <h6>CVSS Vector: CVSS:3.1/AV:L/AC:L/PR:L/UI:N/S:U/C:H/I:H/A:H
                    </h6>
                </div>
                <h4 class="mt-5">CVSS References for <span>CVE-2024-45710</span></h4>
                <a href="https://www.solarwinds.com/trust-center/security-advisories/CVE-2024-45710" target="_blank">SolarWinds CVE-2024-45710</a>
                </mat-card-content>
                </mat-card>
    </mat-card-content>
</mat-card>
