<div class="row">
    <div class="col-lg-5 m-l-6" style="width: 50%;  display: block;">
        <mat-card class="cardWithShadow">
            <h6 class="px-3 pt-3 pb-1" style="text-decoration: underline;">Scheduler logs</h6>
            <div class=" m-l-12 f-s-16 m-t-4 text-primary">
                <span class="browser">165 1</span>
                <span class="text-primary">&nbsp;2024-10-11T22:14:15.003Z</span>
                <span class="f-w-700 text-error">&nbsp;Chrome</span><br>
                <span class="text-warning">&nbsp;Asset Product cve Mapping Scheduler 1201 ID01 &nbsp;</span>
                <h5 class="f-w-600 text-white">&nbsp;Scheduler started</h5>
            </div>
            <div class=" m-l-12 f-s-16 m-t-4 text-primary">
                <span class="browser">165 1</span>
                <span class="text-primary">&nbsp;2024-10-11T22:14:07.003Z</span>
                <span class="f-w-700 text-error">&nbsp;Chrome</span><br>
                <span class="text-warning">&nbsp;CVE 1241 ID40 &nbsp;</span>
                <h5 class="f-w-600 text-white">&nbsp;Fetched information is correct and scheduled</h5>
            </div>
        </mat-card>
    </div>
    <div class="col-lg-5" style="width: 49%;  display: block;">
        <mat-card class="cardWithShadow">
            <h6 class="px-3 pt-3 pb-1" style="text-decoration: underline;">Audit logs</h6>
            <div class="m-l-12 f-s-16 m-t-4 text-primary">
                <span class="browser">165 1</span>
                <span class="text-primary">&nbsp;2024-10-11T22:13:55.003Z</span>
                <span class="f-w-700 text-error">&nbsp;Chrome</span><br>
                <span class="text-warning">&nbsp;CVE 1243 ID42 &nbsp;</span>
                <h5 class="f-w-600 text-white">&nbsp;User2 Successfully logged in</h5>
            </div>
            <div class=" m-l-12 f-s-16 m-t-4 text-primary">
                <span class="browser">165 1</span>
                <span class="text-primary">&nbsp;2024-10-11T22:13:43.003Z</span>
                <span class="f-w-700 text-error">&nbsp;Chrome</span><br>
                <span class="text-warning">&nbsp;CVE 1236 ID03 &nbsp;</span>
                <h5 class="f-w-600 text-white">&nbsp;User1 login information is incorrect and failed 3 times</h5>
            </div>
        </mat-card>
    </div>
</div>
