<div class="row">
    <div class="col-lg-6">
        <mat-card class="cardWithShadow" style="overflow: auto; height: 190px;">
            <mat-card-header style="padding-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
                <mat-card-title>Scheduler logs</mat-card-title>
                <div style="display: flex; gap: 10px;">
                    <span class="import-label" style="margin-right: 6px;margin-top: 8px;">Import</span>
                    <img src="/assets/images/svgs/icons8-excel-48.png" (click)="schedulerExcel()" alt="img" class="image-excel" style="height: 45px;"/>
                    <!-- <img src="/assets/images/svgs/csv.png" alt="img" (click)="schedulerCSV()" class="image-csv" style="height: 40px; margin-top: 3px;"/> -->
                </div>
            </mat-card-header>
            <mat-card-content class="b-t-1 mt-2" style="overflow: auto;">
                <div *ngIf="!schedulerLogsData?.length" class="m-l-12 f-s-16 mt-2 text-danger">
                    <h4 class="f-w-700 text-center">No data found</h4>
                </div>
            <!-- <h4 class="m-l-20">Scheduler logs</h4> -->
            <div *ngFor="let log of schedulerLogsData" class=" m-l-12 f-s-16 m-t-2 text-primary">
                <span class="text-warning">{{ log?.meta?.priority}} {{log?.meta?.version}}</span>
                <span class="text-warning">&nbsp;{{ log?.meta?.timestamp |date: 'yyyy-MM-ddTHH:mm:ss.SSSZ' }}</span>
                <span class="text-warning">&nbsp;{{ log?.hostname}}</span><br>
                <span class="text-warning">&nbsp;{{ log?.meta?.appName}} {{ log?.meta?.processId}} {{ log?.meta?.msgId}} &nbsp;</span>
                <h4 class="f-w-700 text-white">&nbsp;{{ log?.message}}</h4>
            </div>
           </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="cardWithShadow" style="overflow: auto; height: 190px;">
            <mat-card-header style="padding-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
                <mat-card-title>Audit logs</mat-card-title>
                <div style="display: flex; gap: 10px;">
                    <span class="import-label" style="margin-right: 6px;margin-top: 8px;">Import</span>
                    <img src="/assets/images/svgs/icons8-excel-48.png" (click)="auditExcel()" alt="img" class="image-excel" style="height: 45px;"/>
                    <!-- <img src="/assets/images/svgs/csv.png" alt="img" (click)="auditCSV()" class="image-csv" style="height: 40px; margin-top: 3px;"/> -->
                </div>
            </mat-card-header>
            <mat-card-content class="b-t-1 mt-2" style="overflow: auto;">
                <div *ngIf="!UserActivityLogsData?.length" class="m-l-12 f-s-16 mt-2 text-danger">
                    <h4 class="f-w-700 text-center">No data found</h4>
                </div>
            <!-- <h4 class="m-l-20">Audit logs</h4> -->
            <div *ngFor="let log of UserActivityLogsData" class="m-l-12 f-s-16 m-t-2 text-primary">
                <span class="text-warning">{{ log?.meta?.priority}} {{log?.meta?.version}}</span>
                <span class="text-warning">&nbsp;{{ log?.meta?.timestamp |date: 'yyyy-MM-ddTHH:mm:ss.SSSZ' }}</span>
                <span class="text-warning">&nbsp;{{ log?.hostname}}</span><br>
                <span class="text-warning">&nbsp;{{ log?.meta?.appName}} {{ log?.meta?.processId}} {{ log?.meta?.msgId}} &nbsp;</span>
                <h4 class="f-w-700 text-white">&nbsp;{{ log?.message}}</h4>
            </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
