<div class="auth-container">
  <div class="auth-main">
    <div class="auth-form-section">
      <div class="form-section">
        <div *ngIf="!forgot" class="auth-body">
          <div class="d-flex align-items-start align-items-lg-center justify-content-center">
            <div class="row justify-content-center w-100">
              <div class="col-lg-11">
                <h4 class="f-w-700 f-s-30 m-0 m-t-20 lh-base">
                  Welcome to CVE Tracker
                </h4>
                <p class="auth-signup-text">
                  Need an account?
                  <a [routerLink]="['/authentication/side-register']" class="sign-up-link" style="cursor: pointer;">
                    Sign Up
                  </a>
                </p>
                <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label class="placholder">Username</mat-label>
                    <input matInput formControlName="email" />
                    <mat-icon class="material-icons-two-tone color-icon icon-color p-3" color="accent" matSuffix>
                      face
                    </mat-icon>
                    <mat-error *ngIf="hasError('email', 'required')">Please enter email.</mat-error>
                    <mat-error *ngIf="hasError('email', 'pattern')">Please enter a valid email address.</mat-error>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label class="placholder">Password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" autocomplete="off" />
                    <mat-icon class="material-icons-two-tone color-icon icon-color p-3" (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" onClick="return false;" matSuffix>
                      {{ hide ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                    <mat-error>Please enter password. </mat-error>
                  </mat-form-field>

                  <mat-hint *ngIf="_showError"><span class="text-error">Invalid Login Details</span></mat-hint>
                  <div class="remember align-items-center mb-5">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input mx-2" type="checkbox" value="" autocomplete="new-password" />
                        <span class="txt1">Remember me</span>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <a class="txt1" style="cursor: pointer;" (click)="forgotPsw()">Forgot Password?</a>
                  </div>
                  <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid">
                    Sign In
                  </button>
                </form>
              </div>
            </div>
          </div>

        </div>
        <div *ngIf="forgot" class="auth-body">
          <h2 class="welcome-msg">Welcome to CVE Tracker</h2>
          <p class="auth-signup-text">
            Already have an account?
            <a (click)="signIn()" style="cursor: pointer;" class="sign-up-link">Sign In</a>
          </p>
          <h2 class="login-title">Reset Password</h2>

          <form class="validate-form" [formGroup]="resetForm">
            <div>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label class="placholder">Email</mat-label>
                <input matInput formControlName="email" />
                <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>
                  mail
                </mat-icon>
                <mat-error *ngIf="hasError('email', 'required')">Please enter email.</mat-error>
                <mat-error *ngIf="hasError('email', 'pattern')">Please enter a valid email address.</mat-error>
              </mat-form-field>
            </div>

            <div class="container-auth-form-btn">
              <div style="text-align: center">
                <button mat-raised-button class="auth-form-btn" type="submit" (click)="reset()">
                  Reset My Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>