<mat-card class="cardWithShadow theme-card card-height">
    <mat-card-header>
        <mat-card-title class="m-b-0">Vulnerability Distribution by ContractId </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <div *ngIf="byContractId?.length === 0" class="no-data-container">
          No Data Found
      </div>
  
      <apx-chart *ngIf="contractChartOptions1?.series && contractChartOptions1.series.length > 0"
          [series]="contractChartOptions1.series" [plotOptions]="contractChartOptions1.plotOptions"
          [dataLabels]="contractChartOptions1.dataLabels" [chart]="contractChartOptions1.chart"
          [legend]="contractChartOptions1.legend" [colors]="contractChartOptions1.colors"
          [tooltip]="contractChartOptions1.tooltip" [labels]="contractChartOptions1.labels"
          [stroke]="contractChartOptions1.stroke">
      </apx-chart>
  
      <h4 style="float: right; margin-top: 10px;">Total: {{ count }} </h4>
  </mat-card-content>
  
</mat-card>
