<mat-toolbar class="topbar">
  <!-- --------------------------------------------------------------- -->
  <!-- Desktop Menu -->
  @if(showToggle) {
  <button mat-icon-button (click)="toggleCollapsed.emit()" class="d-flex justify-content-center">
    <i-tabler name="align-left" class="icon-20 d-flex"></i-tabler>
  </button>
  }

  <!-- Mobile Menu -->
  @if(!showToggle) {
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex justify-content-center">
    <i-tabler name="align-left" class="icon-20 d-flex"></i-tabler>
  </button>
  }

  <!-- --------------------------------------------------------------- -->

  <div class="d-none d-lg-flex">
    <!-- --------------------------------------------------------------- -->
    <!--  Links -->
    <!-- --------------------------------------------------------------- -->
  
    <h3>CVE- Vulnerability Alerts</h3>
  </div>

  <span class="flex-1-auto"></span>

  <!-- Mobile Menu -->
  <button
    mat-icon-button
    (click)="toggleMobileFilterNav.emit()"
    class="d-flex d-lg-none justify-content-center"
  >
    <i-tabler name="grid-dots" class="icon-20 d-flex"></i-tabler>
  </button>

  <!-- --------------------------------------------------------------- -->
  <!--  Search -->
  <!-- --------------------------------------------------------------- -->
  
  <div class="col-lg-6">
    <div class="d-flex align-items-center gap-2">
      <button mat-stroked-button class="d-none d-lg-flex " >
        <div class="d-flex align-items-center gap-2">
          <p class="pt-2">Refine with..</p>
          <div>
              <input type="text" placeholder="Date Range" class="rounded-3" style="background: none; color: white; border: none;" bsDaterangepicker [(ngModel)]="_selectedRange.value"
                  [bsConfig]="{ ranges: ranges,  rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY' }"  (ngModelChange)="onDateRangeChange($event)"/>
    
          </div>
      </div>
      </button>
    </div>
</div>





  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button mat-fab extended color="inherit" [matMenuTriggerFor]="profileMenu" aria-label="Notifications">
    <div class="d-flex align-items-center">
      <img src="/assets/images/profile/user5.jpg" class="rounded-circle object-cover" width="40" />

      <div class="m-l-16 text-left d-none d-lg-flex">
        <div>
          <h5 class="f-s-16">{{user | titlecase}}</h5>
          <!-- <span class="f-s-14 mat-body-1">Admin</span> -->
        </div>
      </div>
    </div>
  </button>
  <mat-menu #profileMenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
    <ng-scrollbar class="position-relative" style="height: 50px">

      

      <div class="p-y-12 p-x-32">
        <button [routerLink]="['/authentication/login']" mat-flat-button color="primary" class="w-100">
          Logout
        </button>
      </div>
    </ng-scrollbar>
  </mat-menu>
</mat-toolbar>