<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <form>
        <div class="f-w-600 pb-3">
            <h3>Create Asset</h3>
        </div>
        <div class="row">
          <div class="col-md-4 mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Vendor </mat-label>
              <input matInput >
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Project</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">OS Type </mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Serial Number </mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Type </mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Firmware Version </mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Part Number </mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Product Descripiton </mat-label>
              <input matInput >
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-2">
            <mat-radio-group >
              <mat-radio-button  color="primary" >Active</mat-radio-button>
              <mat-radio-button  color="primary" >Inactive</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row" style="float: right;">
          <div class="col-md-3 mb-5">
            <div class="d-flex gap-2 justify-content-between">
              <button mat-raised-button color="primary" >Save</button>
              <button mat-raised-button color="warn">Cancel</button>
            </div>
          </div>
        </div>
      </form>
      </mat-card-content>
      </mat-card>
   
