<div class="rounded bg-white p-y-30 p-x-24 m-b-30 overflow-hidden">
    <div class="d-flex align-items-center justify-content-between">
        <form>
            <div class="f-w-600 pb-3">
                <h3> Search CVE ID</h3>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    <mat-label class=" f-w-600 m-b-8">CVE ID</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="ex: CVE-2024-1234" [(ngModel)]="cvePartFirmware" [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-label class=" f-w-600 m-b-8 ">Vendor</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select placeholder="Select Vendor" [(value)]="_selectedVendor" (selectionChange)="_vendorChange()" multiple>
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="Search Vendor" [(ngModel)]="vendorFilter" (ngModelChange)="filterVendors()" [ngModelOptions]="{standalone: true}" />
                            </mat-form-field>
                            <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor"> {{ vendor }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-label class="f-w-600 m-b-8">Project ID</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select placeholder="Select Project ID" [(value)]="_selectedProject"  (selectionChange)="onProjectChange($event.value)" multiple>
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="Search Project ID" [(ngModel)]="projectFilter" (ngModelChange)="filterProjects()" [ngModelOptions]="{standalone: true}" />
                            </mat-form-field>
                            <mat-option *ngFor="let item of filteredProjects" [value]="item">{{ item }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
               
            </div>
            <div class="row">
                <div class="col-4">
                    <mat-label class=" f-w-600 m-b-8">OS Type</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select placeholder="Search OS Type" [(value)]="_selectedOsType" (selectionChange)="onOsChange($event.value)" multiple>
                            <mat-form-field style="width: 100%;">
                                <input matInput  placeholder="Search OsType" [(ngModel)]="osTypeFilter" (ngModelChange)="filterOsType()" [ngModelOptions]="{standalone: true}" />
                            </mat-form-field>
                            <mat-option *ngFor="let item of filteredOsType" [value]="item"> {{ item }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-label class=" f-w-600 m-b-8">Part No</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select placeholder="Select Part No" [(value)]="_selectedPartNo"
                        (selectionChange)="onPartNoChange($event.value)" multiple>
                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Search Part No" [(ngModel)]="partnoFilter" (ngModelChange)="filterPartNo()" [ngModelOptions]="{standalone: true}"/>
                        </mat-form-field>
                            <mat-option *ngFor="let partNo of filteredPartNo" [value]="partNo">{{ partNo }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-4">
                    <mat-label class="f-w-600 m-b-8">FW Version</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select placeholder="Select FW Version" [(value)]="_selectedVersion" (selectionChange)="onVersionChange($event.value)" multiple>
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="Search FW Version" [(ngModel)]="fwVersionFilter" (ngModelChange)="filterFw()" [ngModelOptions]="{standalone: true}"/>
                            </mat-form-field>
                            <mat-option *ngFor="let firmwareVersion of filteredfwVersion" [value]="firmwareVersion">{{ firmwareVersion }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" style="float: right;">
                <div class="col-lg-3 m-t-2" style="margin-right: 10px;">
                    <button mat-raised-button color="primary" (click)="onSearch('search')">Search</button>
                </div>
                <div class="col-lg-3 m-t-2" style="margin-right: 10px;">
                    <button mat-raised-button color="primary mx-3" (click)="resetSearch()">Reset</button>
                </div>
                <div class="col-lg-3 mx-4">
                    <img src="/assets/images/svgs/icons8-excel-48.png" alt="img" class="image-excel" (click)="exportToExcel()"/>
                </div>
            </div>
        </form>
    </div>
</div>

<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="table-responsive" *ngIf="currentPageItems.length > 0; else noDataFound">
            <table mat-table [dataSource]="currentPageItems" class="w-100">
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="cve">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">CVE ID</th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element?.cveId }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Project ID</th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.project ?element.project : element.inventoryDetails[0]?.project }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="osType">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        OS Type
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.osType }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="partNo">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Part Number
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.partNo || "-"  }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="firmwareVersion">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Firmware Version
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.version || "-" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="serialNo">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Serial No
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.serialNo || "-" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="vendor">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Vendor
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.vendorName }}</td>
                </ng-container>



                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Product
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.productName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="sevierity">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Sevierity
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.seviarity }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="fix">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Fix Avaialable
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.fix === "Y" ? 'Yes' : 'No'  }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="affected">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Affected by CVE
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.affectedCve ? 'No' : 'Yes'  }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a class="m-r-10 cursor-pointer" [routerLink]="['/cve/view-search', element?.cveId]">
                            <i-tabler name="eye" class="icon-18"></i-tabler>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div >
        <mat-paginator [pageSize]="pageSize" [disabled]="disablePaginator" [length]="totalItemCount" [pageIndex]="currentPageIndex"
          [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"
          aria-label="Select page of periodic elements" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
        </div>
        <ng-template #noDataFound>
            <div class="no-data-message">
              <h1>No Data Found</h1>
            </div>
          </ng-template>
    </mat-card-content>
</mat-card>
