<div class="auth-container">
  <div class="auth-main">
    <div class=" auth-form-section">
      <div class="form-section">
        <div class="auth-body">
       
              <div
                class="d-flex align-items-start align-items-lg-center justify-content-center"
              >
                <div class="row justify-content-center w-100">
                  <div class="col-lg-11">
                    <h4 class="f-w-700 f-s-30 lh-base m-0">
                      Sign Up
                    </h4>
                    <span class="f-s-14 d-block mat-body-1 m-t-8"
                      >Enter details to create your account</span
                    >

                    <form
                      class="m-t-30"
                      [formGroup]="form"
                      (ngSubmit)="submit()"
                    >
                    <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label style="color: white;">Username</mat-label>
                        <input matInput formControlName="username" style="color: white;"/>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix
                          >face</mat-icon>
                        <mat-error class="error-text" *ngIf="hasError('username', 'required')"> Please enter username.</mat-error>
                      </mat-form-field>
                      </div>
                      <!-- email -->
                      <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label style="color: white;">Email</mat-label>
                          <input matInput formControlName="email"  style="color: white;"/>
                          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix
                            style="color: white;">mail</mat-icon>
                          <mat-error class="error-text" *ngIf="hasError('email', 'required')"> Please enter email.</mat-error>
                          <mat-error class="error-text" *ngIf="hasError('email', 'pattern')"> Please enter a valid email address.</mat-error>
        
                        </mat-form-field>
                        <div class="material-icons-two-tone color-icon icon-color p-3" *ngIf="_showError">
                          User with Email Id Already Exists,Please try with different Email Id
                        </div>
                      </div>
                      <!-- password -->
                      <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label class="placholder" style="color: white;">Password</mat-label>
                          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" autocomplete="off" style="color: white;" />
        
                          <mat-icon class="material-icons-two-tone color-icon icon-color p-3" (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" onClick="return false;" matSuffix
                            style="color: white;">
                            {{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                          <mat-error class="error-text">Please enter password. </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label style="color: white;">Confirm Password</mat-label>
                          <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'" required style="color: white;"/>
                          <mat-icon matSuffix (click)="chide = !chide">
                            {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          <mat-error class="error-text" *ngIf="form.get('cpassword')?.hasError('required')">
                            Please enter confirm password.
                          </mat-error>
                          
                          <mat-error class="error-text" *ngIf="form.get('cpassword')?.hasError('confirmedValidator')">
                            Password and Re-Enter Password must be match
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <button
                        mat-flat-button
                        color="primary"
                        class="w-100"
                        [disabled]="!form.valid"
                      >
                        Register
                      </button>
                      <!-- input -->
                    </form>
                    <span class="d-block f-w-500 d-block m-t-20"
                      >Already Registered?

                      <a
                        [routerLink]="['/authentication/login']"
                        class="text-decoration-none text-primary f-w-500 f-s-14"
                      >
                        Sign In</a
                      >
                    </span>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>
</div>
