
<div class="row m-t-20">
  <div class="col-lg-3">
    <app-welcome-card></app-welcome-card>
  </div>
  <div class="col-lg-9">
    <app-top-cards ></app-top-cards>
  </div>
  <div class="col-lg-7">
    <app-profile-expance></app-profile-expance>
  </div>
  <div class="col-lg-5">
    <app-product-sales></app-product-sales>
  </div>
  <div class="col-lg-12">
    <app-traffic-distribution></app-traffic-distribution>
  </div>
  <div class="col-lg-12">
    <app-top-brands></app-top-brands>
  </div>
  <div class="col-lg-6">
    <app-vulnerability-by-type></app-vulnerability-by-type>
  </div>
  <div class="col-lg-6">
    <app-vulnerability-by-cvss-score></app-vulnerability-by-cvss-score>
  </div>
  <div class="col-lg-12">
    <app-vulnerability-logs></app-vulnerability-logs>
  </div>
</div>

 
